<div class="containter">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <div class="overview">
                <h2 class="text-center">Cadastrar novo Frilla</h2>
                <br>
                <div class="new-frilla-card">
                    <form method="post">
                        <div class="form-group">
                            <label for="frilla_titulo">Titulo</label>
                            <input type="text" name="frilla_titulo" id="frilla_titulo" class="form-control" placeholder="Informe o nome do Frilla">
                        </div>

                        <div class="form-group">
                            <label for="frilla_preco">Preço</label>
                            <input type="text" name="frilla_preco" id="frilla_preco" class="form-control" placeholder="R$">
                        </div>

                        <div class="form-group">
                            <label for="frilla_categoria">Categoria</label>
                            <select class="form-control" name="frilla_categoria" id="frilla_categoria">
                                <option value="">Desenvolvimento de Software</option>
                                <option value="">Desenvolvimento Web</option>
                                <option value="">Desenvolvimento Mobile</option>
                                <option value="">Design</option>
                                <option value="">Marketing</option>
                                <option value="">SEO</option>
                            </select>
                        </div>

                        <div class="form-group input-group-lg">
                            <label for="frilla_sobre">Sobre</label>
                            <input type="text" name="frilla_sobre" id="frilla_sobre" class="form-control" placeholder="Fale um pouco sobre o seu Frilla">
                        </div>

                        <button type="submit" class="btn btn-success btn-lg">Criar novo Frilla</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>